.container{
   width: 100%;
   height: 200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid;
   background-color: var(--third);
   padding-left: 100px;
}

.logoTitle{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
}

.logoTitle h1{
   position: relative;
   right: 45px;
   font-family: var(--font2);
   font-size: 4rem;
}

.container img{
   width: 200px;
   height: 150px;
}

.container ul{
   width: 50%;
   display: flex;
   justify-content: space-evenly;
}

.container ul li{
   list-style: none;
   font-size: 2rem;
   color: #fff;
   font-family: var(--font4);
   border-bottom: 0px solid var(--primary);
   transition: 0.2s;
   transform: scale(1);
}

.container ul li:hover{
   transform: scale(1.2);
   cursor: pointer;
   border: 1px solid #fff;
   border-radius: 10px;
   padding: 5px;
}

/* Responsividade */
@media(max-width: 1110px){
   .container{
      width: 100%;
      height: 300px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0;
   }
   
   .logoTitle{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   
   .logoTitle h1{
      position: static;
      right: 0;
      font-size: 3rem;
   }
   
   .container ul{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
   }
   
   .container ul li{
      font-size: 1.5rem;
   }
}
